.modal-video {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginright: "-50%";
  transform: translate(-50%, -50%);
  width: 80%; /* или другой размер */
  height: 80%; /* или другой размер */
  background: #000;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
}

.modal-video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundcolor: rgba(0, 0, 0, 0.75);
}
